.main {
  font-family: Oswald;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  position: fixed;
  /* -webkit-box-shadow: inset -5px -17px 140px 11px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset -5px -17px 140px 11px rgba(0, 0, 0, 1);
  box-shadow: inset -5px -17px 140px 11px rgba(0, 0, 0, 1); */
  background-color: rgba(9, 9 ,11,1 );
  color: white;
}
.abs{
  background-color: #2f333e;;
  filter: blur(120px);
  position: absolute;
  border-radius: 90%;
  top:9%;
  left: 22%;
  opacity:0.4;
  width: 500px;
  height: 500px;
}
.submain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-transform: uppercase;
  
}
.imageWrapper {
  position: relative;
  bottom: 0;
}
.heroImage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: block;
  float: left;
  animation: left 2s ease-out;
  animation-delay: -0.6s;
}
.headerText {
  margin: auto;
  position: relative;
  animation: down 2s ease-out;
  animation-delay: -0.6s;
  margin-top: 250px;
  max-width: 90vw;
}
.h1 {
  font-size: 100px;
  text-align: center;
  margin-bottom: -50px;
}
.us {
  color: #ff2400;
  font-size: 100px;
  text-align: center;
  margin: auto;
}

.text {
  margin-top: -10px;
  margin-left: 20px;
  font-size: 22px;
}
.button {
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 28px;
  padding-left: 28px;
  border-radius: 20px;
  box-shadow: inset black;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  font-size: 24px;
}
.butEnr{
  margin-right: 25px;
  font-size: 24px;
  background-color:#FF2400 ;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 28px;
  padding-left: 28px;
  border-radius: 20px;
  box-shadow: inset black;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  border: 1px solid #FF2400;
}
.butEnr:hover{
  transition: 0.6s ease-in;
  border: 1px solid #FF2400;
  color: #ff2400;
  background-color:transparent ;
}
.button:hover {
  transition: 0.6s ease-in;
  border: 1px solid#FF2400;
  color: #ff2400;
}
.link {
  text-align: center;
}

@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  5%,
  30% {
    opacity: 30%;
    transform: translateX(500px);
  }
  80% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes down {
  0% {
    transform: translateY(-900px);
  }
  80% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 600px) {
  .submain {
    display: block;
  }
  .imageWrapper{
    position: relative;
    display: inline-block;
  }
  .imageWrapper::after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    display: inline-block;
    background: linear-gradient(to right, rgba(0,0,0,0.3) 20%,rgba(255,25,0,0.25) 100%);;
  }
  .heroImage {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    animation: 2s ease-out sm; 
    display: block;
  }

  .headerText {
    text-align: center;
    margin: auto;
    top: 200px;
    position: absolute;
    animation: down 2s ease-out;
  }
  .h1 {
    font-size: 66px;
    color: #FAF9F6;
  }
  .us {
    font-size: 66px;
    margin-top: 30px;
  }
  .text {
    color: white;
    font-size: 16px;
  }

  @keyframes sm {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes down {
    0% {
      transform: translateY(-900px);
    }
    80% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

@media  screen and (max-width:1200px) {
  .submain{
    grid-template-columns: 1fr 1fr;
  }
  .heroImage{
    object-fit: contain;
    height: 100vh;
  }
}
@media  screen and (max-width:1015px) {
  .headerText{
    width: 450px;
    margin: auto;
  }
  .heroImage{
    margin-bottom: 0;
    
  }
}
@media screen and (max-width:1014px) {
  .submain {
    display: block;
  }
  .imageWrapper{
    position: relative;
    display: inline-block;
  }
  .imageWrapper::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; height: 100%;
    display: inline-block;
    background: linear-gradient(to right, rgba(0,0,0,0.3) 20%,rgba(255,25,0,0.25) 100%);;
  }
  .heroImage {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    animation: 2s ease-out sm; 
    display: block;
  }

  .headerText {
    text-align: center;
    margin: auto;
    top: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: down 2s ease-out;
  }
  .h1 {
    font-size: 66px;
    color: #FAF9F6;
  }
  .us {
    font-size: 66px;
    margin-top: 30px;
  }
  .text {
    color: white;
    font-size: 16px;
  }

  @keyframes sm {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes down {
    0% {
      transform: translate(-50%,-900px);
    }
    80% {
      transform: translate(-50%,20px);
    }
    100% {
      transform: translate(-50%,0);
    }
  }
}

